# Ogre Core Resources
[OgreInternal]
FileSystem=../third_party/share/ogre/Media/ShadowVolume
FileSystem=../third_party/share/ogre/Media/RTShaderLib
FileSystem=../third_party/share/ogre/Media/RTShaderLib/materials
FileSystem=../third_party/share/ogre/Media/RTShaderLib/GLSL
FileSystem=../third_party/share/ogre/Media/RTShaderLib/HLSL_Cg
FileSystem=../third_party/share/ogre/Media/Terrain/
FileSystem=../third_party/share/ogre/Media/Main/
FileSystem=../third_party/share/ogre/Media/packs/

# Resources required by the sample browser and most samples.
[Essential]
FileSystem=../third_party/share/ogre/Media/thumbnails

# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[General]
# Bites uses the next entry to discover the platform shaders
FileSystem=../third_party/share/ogre/Media
FileSystem=../third_party/share/ogre/Media/fonts
FileSystem=../third_party/share/ogre/Media/materials/programs
FileSystem=../third_party/share/ogre/Media/materials/scripts
FileSystem=../third_party/share/ogre/Media/materials/textures
FileSystem=../third_party/share/ogre/Media/materials/textures/terrain
FileSystem=../third_party/share/ogre/Media/models
FileSystem=../third_party/share/ogre/Media/particle
FileSystem=../third_party/share/ogre/Media/DeferredShadingMedia
FileSystem=../third_party/share/ogre/Media/DeferredShadingMedia/DeferredShading/post
FileSystem=../third_party/share/ogre/Media/PCZAppMedia
FileSystem=../third_party/share/ogre/Media/materials/scripts/SSAO
FileSystem=../third_party/share/ogre/Media/materials/textures/SSAO
FileSystem=../third_party/share/ogre/Media/volumeTerrain
FileSystem=../third_party/share/ogre/Media/CSMShadows
